.bg-aside {
    background-color:#010a368c;
    box-shadow: 0px 2px 2px 2px#01000275;
    height: 10vh;
}


.bg-aside .class-user-dashboard img.avatar {
    width: 100%;
    border-radius: 50%;
    float: right;
    margin-top: 10%;
}

.bg-aside .btn-secondary {
    color: #fff;
    background-color:#000c34;
    border-color:#000c34;
    text-align: left;
    height: 10vh;
}

.bg-aside .dropdown-menu {
    background-color:#010a35eb;
}

.bg-aside .dropdown-menu .dropdown-item {
    color:#fff;
}

.bg-aside .btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem 
    rgba(255, 192, 201, 0.36);
}

.bg-aside .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color:#ff5d74;
    border-color:#ff5d74;
}