h1 {
    color: white;
    margin-top: 15px;
}

.class-dashboard .table {
    color: #ffffff;
    background: #01183b6e;
    margin: 10px;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid 
    #dee2e654;
}