.bg-lateral {
    position: absolute !important;
    bottom: 0;
    top: 10vh;
    background-color:#5b013473;
    box-shadow: 2px 0px 2px 2px#01000247;
}

.bg-lateral ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

.bg-lateral ul li {
    color:white;
    border-bottom: 1px solid#ffffff57;
    list-style: none;
    padding: 15px 10px;
    width: 100%;
    line-height: 2;
    transition: 1;
}

.bg-lateral ul li:hover {
    color:#ccc;
    border-bottom: 1px solid#ccc8;
}

.bg-lateral ul li i {
    position: absolute;;
}

.bg-lateral ul li h5{
    margin-left: 30px;
}