body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/Capture.PNG");
    background-repeat: initial;
}
.body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.p-0{
    padding: 0 !important;
}

.white-text{
  color: white !important;
}

#root {
  background-color: #060b36d1;
  height: 100vh;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc0;
    box-sizing: border-box;
    background: #fe476182;
    border-bottom: 5px solid #fe4760;
    color: white;
}

button {
  background-color: #6397ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}

.modal-content-2  {
    background-color: #010a366b;
    box-shadow: 0px 2px 2px 2px #010002ad;
    border: 1px solid #010a36a1;
    width: 40%;
    left: 30%;
    position: relative;
    border-radius: 20px;
}

b{
    color: white;
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.class-aside {
    background: #010a34d1;
    margin: 0 !important;
}

.form-control {
  background: #fe476182 !important;
  border-bottom: 5px solid#fe4760 !important;
  color: white;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.form-control:focus {
  color: #fff;
  background-color:#842b50;
  border-color:#fe476182;
  border-bottom-color: rgba(254, 71, 97, 0.51);
  outline: 0;
  box-shadow: 0 0 0 .2remrgba(0,123,255,.25);
  border-bottom: 5px solid#ff94a3 !important;
}

.form-check-label {
  margin-bottom: 0;
  margin-left: 2rem;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

h1{
  margin-top: 10px !important;
}